Source: alternc-oneclickinstallers
Section: web
Priority: optional
Maintainer: Kienan Stewart <kienan.stewart@burntworld.ca>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: https://github.com/kienanstewart/alternc-oneclickinstallers
Vcs-Git: https://github.com/kienanstewart/alternc-oneclickinstallers.git

Package: alternc-oneclickinstallers
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 alternc
Description: "One-click" installer plugin for AlternC
 This plugin adds quick "one-click" installer options to AlternC,
 supporting both Drupal and WordPress currently. More applications
 can be added by creating new AlternC plugins.
